<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <title>Cats</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link" href="/">Home</a>
              <a class="nav-item nav-link" href="/cars">Cars</a>
              <a class="nav-item nav-link" href="/cats">Cats</a>
              <a class="nav-item nav-link" href="/cars/new">New Cars</a>
          </div>
      </div>
  </nav>
  <h1>Cats & Cars</h1>
  <img src="/images/cats1.jpg" alt="2 cats in red sedan">
  <img src="/images/cats2.jpg" alt="2 cats on black sedan">
  <img src="/images/cats3.jpg" alt="A cat on red sedan">
</body>
</html>
