<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quoting Dojo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Here are the awesome quotes</h1>
            <div class="form-group">
                <% if(quotes) { %>
                    <% for(let i = 0; i < quotes.length; i++) { %>
                        <p class="quote">"<%= quotes[i].quote %>"</p>
                        <p class="author">- <%= quotes[i].name %> at <%= quotes[i].createdAt %></p>
                    <% } %>
                <% } %>
            </div>
        
        <form class="form-horizontal" action="/" method='Get'>
            <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info btn-lg">Go Back</button> 
                </div>
            </div>
        </form>
    </div>
</body>
</html>