<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rabbit Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>EDIT PAGE!!</h1>
        <br>
        <a href="/">Go Home</a>
        <br>
        <br>
        <fieldset>
            <legend>Edit your Rabbit</legend>
            <form action= "/update/<%= rabbit._id %>" method= "post">
                <label>NAME: </label>
                <input type="text" name="name" value= "<%=rabbit.name %>">
                <br>
                <label>Description</label>
                <textarea name= "description"><%= rabbit.description %></textarea>
                <br>
                <input type="submit" name="submit" value= "Update THIS!">
                
            </form>
        </fieldset>
    </div>
</body>
</html>

