<section>
  <fieldset>
    <legend>Add a Book</legend>
    <!-- (submit) create an event listener on the form  -->
    <!-- (onSubmit) when ever this event occurs, run some method on the component  -->
    <!-- events create event objects, but not passed to the method by default -->
    <!-- ($event) Angular needs a special way to tell it to pass the event object linked to the action that just occured. -->
    <!-- (Models dir) blueprint the data by defining structure - interfaces/classes -->
    <!-- ngmodel directive brought in by the imported FormsModule -->
    <!-- (ngmodel is used for two-way data binding [] and listening(): [()] notation ) -->
    <!-- the two-way binding fills the component book variable with information from the interactive form -->
    <!-- (#bookForm='ngForm') use template reference to help visualize this action -->
    <!-- {{bookForm.value | json }} can be referenced as a variable and piped to JSON. Forms input values can be printed to the page-->
    <!-- ("onSubmit($event, bookForm) form is the reseting after submitting.  Need to pass the entire book object (bookForm) to the event method-->
    <!-- accept it in the component file -->
    <!-- bind to the submit a directive and set expression to valid to make the submit button only appear if there is form entry -->

    <!-- {{ bookForm.value | json }} -->
    <form
      (submit)="bookForm.valid && onCreate($event, bookForm)"
      #bookForm="ngForm"
    >
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          [(ngModel)]="book.title"
          required
          #title="ngModel"
          minlength="3"
        />
        <div *ngIf="(title.touched || title.dirty) && title.errors">
          <!-- input can be touched or untouched, pristine or dirty, valid or invalid -->
          <div *ngIf="title.errors.required">
            <!-- resolves to true -->
            You must enter a title
          </div>
          <div *ngIf="title.errors.minlength">
            Title must be atleast
            {{ title.errors.minlength.requiredLength }} characters.
            {{ title.errors.minlength.actualLength }} is not enough.
          </div>
        </div>
      </div>

      <div>
        <label for="">Author</label>
        <input
          type="text"
          name="author"
          [(ngModel)]="book.author"
          required
          #author="ngModel"
          minlength="3"
        />
        <div *ngIf="(author.touched || author.dirty) && author.errors">
          <div *ngIf="author.errors.required">
            You must enter an author
          </div>
          <div *ngIf="author.errors.minlength">
            Author must be atleast
            {{ author.errors.minlength.requiredLength }} characters.
            {{ author.errors.minlength.actualLength }} is not enough.
          </div>
        </div>
      </div>

      <div>
        <label for="">Year</label>
        <input
          type="number"
          name="year"
          [(ngModel)]="book.year"
          #year="ngModel"
          required
          min="1900"
          max="2020"
        />
        <div *ngIf="year.touched && year.errors">
          <div *ngIf="year.min">
            {{ year.min | json }}
          </div>
        </div>
      </div>

      <div>
        <label for="">Pages</label>
        <input
          type="number"
          name="pages"
          [(ngModel)]="book.pages"
          #pages="ngModel"
          min="1"
          required
        />
      </div>

      <div>
        <label for="">Publisher</label>
        <input
          type="text"
          name="publisher"
          [(ngModel)]="book.publisher"
          #publisher="ngModel"
          required
          minlength="3"
        />
        <div *ngIf="(publisher.touched || publisher.dirty) && publisher.errors">
          <!-- input can be touched or untouched, pristine or dirty, valid or invalid -->
          <div *ngIf="publisher.errors.required">
            <!-- resolves to true -->
            You must enter a publisher
          </div>
          <div *ngIf="publisher.errors.minlength">
            Publisher must be atleast
            {{ publisher.errors.minlength.requiredLength }} characters.
            {{ publisher.errors.minlength.actualLength }} is not enough.
          </div>
        </div>
      </div>
      <button *ngIf="bookForm.valid">Submit</button>
    </form>
  </fieldset>
</section>
